.page-leave-active {
  transition: opacity 0.7s 1s;
}

.page-enter-active {
  transition: opacity 0.3s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.reveal-init {
  opacity: 0;
  transform: translateY(var(--reveal-offset));
}

.reveal-children-init [data-reveal] {
  opacity: 0;
  transform: translateY(var(--reveal-offset));
}
