:root {
  --color-black: #12130f;
  --color-brown: #8f8073;
  --color-green: #5b9279;
  --color-lime: #8fcb9b;
  --color-white: #eae6e5;

  /* Good idea! */
  --color-pink: #f4bbc6ff;
  --color-grape: #5f5687ff;
  --color-blue: #addde4ff;
  --color-terracotta: #ea5f3cff;
  --color-yellow: #fcc112ff;
  --color-shamrock: #5a9e6aff;
  --color-camel: #a28759ff;
}
