@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paragraph {
    font-family: "Ubuntu";
    font-size: var(--step-0);
  }

  .paragraph-lg {
    font-family: "Ubuntu";
    font-size: var(--step-1);
  }

  .paragraph-sm {
    font-family: "Ubuntu";
    font-size: var(--step--1);
  }

  .header-1 {
    font-family: "TenaliRamakrishna";
    font-size: var(--step-5);
    line-height: 0.9;
    /* text-transform: uppercase; */
  }

  .header-2 {
    font-family: "TenaliRamakrishna";
    font-size: var(--step-4);
    line-height: 0.9;
    /* text-transform: uppercase; */
  }

  .header-3 {
    font-family: "TenaliRamakrishna";
    font-size: var(--step-3);
    line-height: 0.9;
    /* text-transform: uppercase; */
  }

  .header-4 {
    font-family: "TenaliRamakrishna";
    font-size: var(--step-2);
    line-height: 0.9;
    /* text-transform: uppercase; */
  }

  .header-5 {
    font-family: "TenaliRamakrishna";
    font-size: var(--step-1);
    line-height: 1;
    /* text-transform: uppercase; */
  }
}
