@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  /* --font-sans: "NotoKufi", "sans-serif"; */
  /* --font-serif: "Ubuntu", "serif"; */
}

@layer utilities {
  .paragraph {
    /* font-family: "Ubuntu"; */
    font-size: var(--step-0);
  }

  .paragraph-lg {
    /* font-family: "Ubuntu"; */
    font-size: var(--step-1);
  }

  .paragraph-sm {
    /* font-family: "Ubuntu"; */
    font-size: var(--step--1);
  }

  .huger {
    /* font-family: "TenaliRamakrishna"; */
    font-size: var(--step-7);
    /* line-height: 0.9; */
  }

  .huge {
    /* font-family: "TenaliRamakrishna"; */
    font-size: var(--step-6);
    /* line-height: 0.9; */
  }

  .header-1 {
    /* font-family: "TenaliRamakrishna"; */
    font-size: var(--step-5);
    /* line-height: 0.9; */
    /* text-transform: uppercase; */
  }

  .header-2 {
    /* font-family: "TenaliRamakrishna"; */
    font-size: var(--step-4);
    /* line-height: 0.9; */
    /* text-transform: uppercase; */
  }

  .header-3 {
    /* font-family: "TenaliRamakrishna"; */
    font-size: var(--step-3);
    /* line-height: 0.9; */
    /* text-transform: uppercase; */
  }

  .header-4 {
    /* font-family: "TenaliRamakrishna"; */
    font-size: var(--step-2);
    /* line-height: 0.9; */
    /* text-transform: uppercase; */
  }

  .header-5 {
    /* font-family: "TenaliRamakrishna"; */
    font-size: var(--step-1);
    line-height: 1;
    /* text-transform: uppercase; */
  }
}
